<div data-controller="notice" class="container mb-3">
  <h1>Compare Ebooks' Prices</h1>

  <%= simple_form_for search_path, method: :get do |f| %>
    <div class="row row-cols-lg-auto g-1 mb-2">
      <div class="col-lg-6">
          <%= f.input :query, label: false, placeholder: "Search..." %>
      </div>

      <div class="col-12">
        <%= f.button :submit, "Search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if params["/search"].present? %>
    <div class="amazon">
      <h5>Amazon</h5>
      <% @amazon_search_results.each do |book| %>
      <div class="card mb-3" style="width: 14rem;">
        <%= image_tag book[:image], alt: book[:title], class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title"><%= book[:title] %></h5>
          <p class="card-text"><%= book[:price] %></p>
          <%= link_to 'Amazon Store', book[:link], target: "_blank", class: "btn btn-primary" %>
          <div data-action="submit->notice#fire">
            <%= render 'books/new' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'Wishlist', books_path, class: "btn btn-primary" %>

  <div data-notice-target="noticeElement" class="flash flash-success alert alert-dismissible fade show d-none" role="alert">
    <span><strong>Yay!</strong> 🎉 Added to wishlist</span>
    &nbsp;&nbsp;
    <a data-bs-dismiss="alert" aria-label="Close" class="close-btn">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
