<div data-controller="notice" class="container my-3">
  <h1>Compare Ebooks' Prices</h1>
  <div data-controller="spinner">
    <%= simple_form_for search_path, method: :get do |f| %>
      <div class="row row-cols-lg-auto g-1">
        <div class="col-lg-6">
          <%= f.input :query, label: false, placeholder: "Search..." %>
        </div>
        <div class="col-12">
          <%= f.button :submit, "Search", class: "btn btn-primary", data: { action: "click->spinner#showSpinner" } %>
        </div>
      </div>
    <% end %>
    <div data-spinner-target="spinner" class="spinner-border text-primary my-3 d-none" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <br>
  </div>
  <% if @query.present? %>
    <div class="d-flex gap-5">
      <div class="amazon">
        <h5>Amazon</h5>
        <% @amazon_search_results.each do |book| %>
          <div class="card mb-3" style="width: 14rem;">
            <%= image_tag book[:image], alt: book[:title], class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= book[:title] %></h5>
              <p class="card-text">Author: <%= book[:author].empty? ? "N/A" : book[:author] %></p>
              <p class="card-text"><%= book[:price].empty? ? "짜 0" : book[:price] %></p>
              <%= link_to "Amazon Store", book[:link], target: "_blank", class: "btn btn-primary" %>
              <%= render "books/new", book: book %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="kobo">
        <h5>Kobo</h5>
        <% if @kobo_search_results.nil? %>
          <p>No search results</p>
        <% else %>
          <% @kobo_search_results.each do |book| %>
            <div class="card mb-3" style="width: 14rem;">
              <%= image_tag book[:image], alt: book[:title], class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= book[:title] %></h5>
                <p class="card-text">Author: <%= book[:author].empty? ? "N/A" : book[:author] %></p>
                <% if book[:price].to_s.empty? %>
                  <% book[:price] = "짜 0" %>
                <% else %>
                  <% book[:price] = number_to_currency(book[:price], { unit: "짜", precision: 0 }) %>
                <% end %>
                <p class="card-text"><%= book[:price] %></p>
                <%= link_to "Kobo Store", book[:link], target: "_blank", class: "btn btn-primary" %>
                <%= render "books/new", book: book %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="google">
        <h5>Google</h5>
        <% @google_search_results.each do |book| %>
          <div class="card mb-3" style="width: 14rem;">
            <%= image_tag book[:image], alt: book[:title], class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= book[:title] %></h5>
              <p class="card-text">Author: <%= book[:author].nil? || book[:author].empty? ? "N/A" : book[:author] %></p>
              <p class="card-text">
                <% if book[:price].nil? %>
                  <%= "nil" %>
                <% elsif book[:price].empty? %>
                  <%= "짜 0" %>
                <% else %>
                  <%= book[:price] %>
                <% end %>
              </p>
              <%= link_to "Google Play Books", book[:link], target: "_blank", class: "btn btn-primary" %>
              <%= render "books/new", book: book %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= link_to "Wishlist", books_path, class: "btn btn-primary" %>
</div>
