<div class="container my-3">
  <h1>Wishlist</h1>
  <% if @books.empty? %>
    <p>No books in your wishlist</p>
  <% else %>
    <% @books.each do |book| %>
      <div class="card-product">
        <%= image_tag book.image, alt: book.title %>
        <div class="card-product-infos">
          <h2><%= book.title %></h2>
          <p><%= book.price %></p>
          <%= link_to "Go to store", book.link, target: "_blank", class: "btn btn-primary btn-sm" %>
          <%= link_to book_path(book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do %>
            <i class="fa-solid fa-trash-can text-light"></i>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>
  <%= link_to "Back to home", root_path, class: "btn btn-primary" %>
</div>
